.part2{
    position: relative;
    background: rgb(242, 206, 218, .3);
    width: 95%;
    height: 90vh;
    display: flex;
    align-items: center;
    // gap: 74px;
}
.part2__left{
    margin-left: 250px;
    h1{
        
width: 349px;
height: 98.27px;
left: 253px;
top: 1403.59px;
font-family: 'Hind Madurai';
font-style: normal;
font-weight: 600;
font-size: 44.2px;
line-height: 49px;
color: #150101;
margin: 140px 0 16px 0;

}
  p{
width: 442px;
height: 58.16px;
left: 252px;
top: 1517.9px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #150101;
opacity: 0.6;
margin-bottom: 35px;
}

.part2__right{
    position: absolute;
   
    .ice_img{
        width: 655px;
        height: 655px;
        
    }
}
}