.jumbotrom{
    background: rgb(242, 206, 218, .3);
    width: 95%;
    height: 90vh;
    display: flex;
    align-items: center;
    .left{
        padding-left: 104px;
        width: 50%;
        &__head{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            color: #0F0101;
        }
        h1{
            margin: 6px 0 35px;
            font-family: 'Fredoka One';
            font-style: normal;
            font-weight: 400;
            font-size: 57.33px;
            line-height: 120.5%;
            color: #0F0101;
            opacity: 0.9;
            width: 570px;
            span{
                color: rgb(210, 49, 102, 1);
            }

        }
        &__info{
            font-family: 'Hind Madurai';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #0F0101;
            opacity: 0.6;
            width: 483px;
            margin-bottom: 63px;
        }
    }

    .right{
       width: 50%;
      

         &_ice{
            width: 507px;
            height: 507px;
            position: absolute;
            z-index: 1;
            top: 25%;
            left: 51%;
            
        }

        &_bg{
            height: 500px;
            position: absolute;
            z-index: 10;
            top: 38%;
            right: 16%;
           
        }
        &__round{
            width: 300px;
            height: 300px;
            background: rgb(242, 206, 218);
           border-radius: 50%;
            position: absolute;
            right: 26%;
            bottom: 40px;
            
        }
    }
}